@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.bottom-nav {
    width: 350px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    width: 131px;
    height: 80px;
    background-color: #F0EDDE;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-button.active {
    background-color: #D8D3C2;
}

.nav-button img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.nav-button span {
    color: #2A392A;
    font-size: 15px;
}

